<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Categories</li>
</ul>

<div class="row vertical-align">
  <div class="col-sm-9 col-xs-6 col-md-9">
    <%= link_to "Add Category", new_question_set_category_path(), class: "btn btn-primary btn-sm" %>
  </div>

  <div class="col-sm-3 col-xs-6 col-md-3 vcenter">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, class: "form-control", placeholder: "Search" %>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 10px;">Max</th>
        <th style="width: 60px;">Enabled</th>
        <th style="width: 100px;">Actions</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to category.name, question_set_category_questions_path(category) %>
          </td>
          <td>
            <a>
              <%= category.max_question %>
            </a>
          </td>
          <td class="text-center">
            <% if category.enabled %>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          </td>
          <td class="rowlink-skip text-center vert-middle">
            <%= link_to edit_question_set_category_path(category.id), class: "btn bootstrap" do %>
              <i class="glyphicon glyphicon-edit text-primary"></i>
            <% end %>
            <%= link_to archive_question_set_category_path(category), method: :put, data: {confirm: "Are you sure?" }, class: "btn bootstrap" do %>
              <i class="glyphicon glyphicon-trash text-primary"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="text-center">
    <%= page_entries_info @categories %>
  </div>
  <div class="text-center">
    <%= paginate @categories %>
  </div>
</div>
