<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">My Account</li>
</ul>
<section id="loginBox">
  <h2 class="text-center">My Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-email"></i>
      </span>
      <%= f.email_field :email, class: "form-control floating-label", placeholder: "Email", autofocus: true %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-social-person"></i>
      </span>
      <%= f.text_field :first_name, class: "form-control floating-label", placeholder: "First Name", autofocus: true %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-social-person"></i>
      </span>
      <%= f.text_field :last_name, class: "form-control floating-label", placeholder: "Last Name", autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-vpn-key"></i>
      </span>
      <input type="password" id="user_password" name="user[password]" class= "form-control floating-label" placeholder= "Password (8 characters minimum)" autocomplete="off">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-vpn-key"></i>
      </span>
      <input type="password" id="password_confirmation" name="user[password_confirmation]" class= "form-control floating-label" placeholder= "Password Confirmation" autocomplete="off">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-vpn-key"></i>
      </span>
      <input type="password" id="current_password" name="user[current_password]" class= "form-control floating-label" placeholder= "Current Password" autocomplete="off">
    </div>

    <button class="btn btn-block btn-primary waves-effect waves-light" type="submit" name="commit">Update</button>
  <% end %>

  <hr />
  <h3 class="text-center">Unhappy?</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-block btn-warning waves-effect waves-light" %>
</section>