<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Users</li>
</ul>

<div class="col-sm-offset-9 col-xs-offset-6 col-md-offset-9">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :email_cont, class: "form-control", placeholder: "Search" %>
  <% end %>
</div>
<br />
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th style="width: 60px;">Locked</th>
        <th style="width: 60px;">Results</th>
        <th style="width: 60px;">Actions</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <% @users.each do |user| %>
        <tr>
          <td class="vert-align">
            <%= link_to user.email, edit_user_path(user) %>
          </td>
          <td>
            <%= user.first_name %>
          </td>
          <td>
            <%= user.last_name %>
          </td>
          <td class="rowlink-skip text-center">
            <% if user.deleted_at %>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          </td>
          <td class="rowlink-skip">
            <%= link_to user_results_path(user), class: "btn bootstrap" do %>
              <i class="glyphicon glyphicon-book text-primary"></i>
            <% end %>
          </td>
          <td class="rowlink-skip text-center vert-middle">
            <%= link_to edit_user_path(user), class: "btn bootstrap" do %>
              <i class="glyphicon glyphicon-edit text-primary"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="text-center">
    <%= page_entries_info @users %>
  </div>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
