<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li class="active">Results</li>
</ul>

<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td><b>First Name</b></td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td><b>Last Name</b></td>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <td><b>Email Address</b></td>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>

<hr />

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th style="width: 100px;">Score</th>
        <th style="width: 200px;">Completed At</th>
        <th style="width: 100px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @exams.each do |exam| %>
        <tr>
          <td><%= exam.category.name %></td>
          <td class="text-center">
            <div class="<%= exam.passed? ? 'text-primary' : 'text-warning' %>">
              <%= number_to_percentage(exam.grade, precision: 2) %>
            </div>
          </td>
          <td class="text-center">
            <%= exam.completed_at.try(:to_s, :long) %>
          </td>
          <td class="text-center">
            <%= link_to "View", exam_list_path(exam) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
